.section-index-latestBlog {
  text-align: left;
  .wrapper-latestBlog {
    background: #ffffff;
    padding: 20px 12px;
    h2 {
      font-size: 18px;
      margin: 0 0 10px;
    }
    .latestBlog {
      display: flex;

      flex-wrap: wrap;
      margin-right: -10px;
      margin-left: -10px;
      .article-item {
        &__block {
          display: flex;
          padding: 15px 0;
        }
        &__image {
          flex: 0 0 80px;
          max-width: 80px;
          position: relative;
          .art-image {
            position: relative;
            overflow: hidden;
            background: #fff;
            -webkit-transition: opacity 0.3s ease;
            -ms-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
          }
        }
        &__detail {
          padding-left: 15px;
          flex: 0 0 calc(100% - 80px);
          max-width: calc(100% - 80px);
          .art-title {
            line-height: 1.3;
            color: var(--shop-color-text);
            font-size: 14px;
            font-weight: 500;
            margin: 0 0 3px;
            white-space: initial;
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
          }
          .art-meta {
            color: #999;
            font-size: 12px;
          }
        }
      }
    }
  }
  .latestBlog-link .linkview {
    font-size: 14px;
    font-weight: 500;
  }
}
