.product-listing {
  padding-bottom: 40px;
  &__wrapper {
    .title {
      font-size: 24px;
      margin-bottom: 30px;
      margin-top: 40px;
      font-weight: 700;
      color: #ffffff;
      display: inline-block;
      min-width: 70%;
      background: #008848;
      box-shadow: 0px 0px 0px 2px rgba(0, 136, 72, 0.8);
      padding: 8px 15px 10px;
      border-radius: 50px;
    }
    .listing {
      .product-item {
        margin-top: 30px;
        &__inner {
        }
        &__image {
          position: relative;
          overflow: hidden;
          text-align: center;
        }
        &__info {
          padding: 12px 10px 4px;
          background-color: #ffffff;
          display: flex;
          flex-direction: column;
          flex: 1 1 auto;
          text-align: left;
        }
        &__vendor {
          font-weight: 400;
          font-size: 11px;
          color: #666;
          text-transform: uppercase;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: initial;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          text-transform: uppercase;
          margin-bottom: 4px;
        }
        &__name {
          font-size: 14px;
          margin: 0 0 8px;
          font-weight: 500;
          line-height: 1.45;
        }
        &__price {
          margin-top: auto;
          margin-bottom: 8px;
          font-weight: 600;
          font-size: 14px;
          color: #333;
        }
        &__addtocart-button {
          position: relative;
          .add-to-cart {
            padding: 0 5px;
            font-size: 11px;
            font-weight: 500;
            display: block;
            width: 100%;
            height: 32px;
            line-height: 30px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            color: #008848;
            &:before {
              background-color: #fff;
            }
            .btnico {
              display: inline-block;
              vertical-align: middle;
              fill: #008848;
              width: 16px;
              height: 30px;
              margin-top: -3px;

              + span {
                margin-left: 4px;
                display: inline-block;
                vertical-align: middle;
              }
            }
            &:hover {
              color: #ffffff;
              .btnico {
                fill: #ffffff;
              }
            }
            &.disable {
              cursor: default;

              box-shadow: none;
              border-color: var(--product-color-soldout);
              color: var(--product-color-soldout);
              background-color: #ffffff;
              .btnico {
                display: none;
              }
            }
          }
          .action-boxqty {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;

            opacity: 0;
            visibility: hidden;
            transform: scale(0.92);
            .proloop-boxqty {
              display: flex;
              align-items: center;
              overflow: hidden;
              height: 32px;
              line-height: 30px;
              border: 1px solid #008848;

              border-radius: 5px;
              .btnqty {
                line-height: 30px;
                border: 0;
                outline: none;
                height: 30px;
                width: 30px;
                background: #ffffff;
                svg {
                  width: 13px;
                  height: 100%;
                  fill: #008848;
                  stroke: #008848;
                }
              }
              .proloop-qtyvalue {
                height: 30px;
                line-height: 30px;
                border: 0;
                outline: none;
                width: calc(100% - 60px);
                text-align: center;
                font-weight: 500;
                appearance: none;
              }
            }
            &.active {
              opacity: 1;
              visibility: visible;
              transform: scale(1);
              transition-delay: 0.1s;
              z-index: 1;
            }
          }
        }
      }
    }
    .wraplist-button.visible-desk {
      display: block;
      margin-top: 40px;
      .btn-collection {
        text-transform: initial;

        padding: 10px 30px;
        border-radius: 4px;
        background: #ffffff;
        color: #008848;
        border: 1px solid #008848;
        &::before {
          background-color: #ffffff;
        }
      }
    }
  }
}
